body {
    background-color: rgb(51,51,51);
    color: white;
    text-align: center;
    height: 90vh;
}

#bigtitle {
    height: 50px;
}

img:hover{
    width: 21px;
    height: 21px;
    cursor: help;
    background-color: rgba(255, 127, 0, 0.1);
    border-radius: 100%;
    border-style: solid 1px;
}

.textinput {
    background-color: rgba(255, 127, 0, 0.1);
}

#sentence, #sentencecode {
    font-size: larger;
    padding: 0;
    margin: 0;
}

.title {
    margin: 0;
    padding: 0;
}


.rotor {
    justify-content: center;
    display: flex;
    width: auto;
    height: auto;
}

.rotor-nbr {
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    font-size: 50px;
}

.letter {
    justify-content: center;
    display: flex;
    width: auto;
    height: auto;
}

.letter-inner {
    border-color: black;
    border-style: solid;
    border-radius: 10%;
    font-size: 50px;
    padding: 0 20px 0 20px;
    margin: 0 20px 0 20px;
}

.rotor-nbr input {
    width: auto;
    height: auto;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 34px;
    text-align: center;
    background-color: rgb(51,51,51);
}

.rotor-btn {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin-left: 10px;
    border: 1px;
    font-size: 34px;
    background-color: rgb(51,51,51);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }